html, body{
    margin:0;
    padding:0;
}

.main{
    height:100vh;
    width: 100vw;
    background-color: darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elipsa-prva{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 45%;
    height:25%;
    position:absolute;
    background-color: gray;
    border-radius: 50%;
    top:8.5%;
    border:solid black 5px;
    z-index: 10;
}

#valjak-tijelo{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    gap: 7px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 45%;
    height: 60%;
    position: absolute;
    background: linear-gradient(90deg,black, gray, 60%, black);
    z-index: 1;
}

#elipsa-druga{
    box-sizing: border-box;
    width: 45%;
    height:25%;
    position:absolute;
    background: linear-gradient(90deg,black, gray, 60%, black);
    border-radius: 50%;
    bottom:7%;
    border:solid black 5px;
}

.tekst{
    font-family: sans-serif;
    color: rgb(10, 15, 1);
    font-weight: bolder;
    font-size: larger;
}

#poluprecnik-linija{
    position: absolute;
    width: 22.5%;
    height:5px;
    background-color: black;
    top:6%;
    left:50%
}

#visina-linija{
    position:absolute;
    width: 5px;
    height:60%;
    background-color: black;
    left:24%;
}

#r{
    position: absolute;
    top:3%;
    left:61%;
}

#H{
    position: absolute;
    left:22%
}
input{
    height:10%;
    width:13%;
    font-size: larger;
    background-color: gray;
}

#rezultat{
    height: 10%;
    width: 25%;
    background-color: gray;
    border:solid black 2px;
    text-align: center;
}